.el-button {
  @include themed;
  @include themeify {
    color: theme('color-text-regular');
    background-color: theme('color-background');
    border-color: theme('color-border-light');
  }

  &:focus,
  &:hover {
    @include themeify {
      color: theme('color-primary');
      background-color: theme('color-primary-light-9');
      border-color: theme('color-primary-light-7');
    }
  }
}

.el-button--primary {
  @include themeify {
    color: #fff;
    background-color: theme('color-primary');
    border-color: theme('color-primary');

    &:focus,
    &:hover {
      color: #fff;
      background-color: theme('color-primary-light-1');
      border-color: theme('color-primary-light-3');
    }
  }
}

.el-button--text {
  @include themeify {
    color: theme('color-primary');
    background: transparent;
    border-color: transparent;
  }

  &:focus,
  &:hover {
    @include themeify {
      color: theme('color-primary');
      background: transparent;
      border-color: transparent;
    }
  }
}
