.el-dropdown-menu {
  color: var(--color-border-light);
  background-color: var(--color-background-second);
  @extend %themed;
}

.el-dropdown-menu__item {
  color: var(--color-text-regular);
  @extend %themed;
}

.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover {
  background-color: var(--color-background);
}
