.el-loading-mask {
  background-color: var(--loading-mask-background);
  @extend %themed;
  @include theme-light {
    --loading-mask-background: #{rgb($--color-background-light, 90%)};
  }
  @include theme-dark {
    --loading-mask-background: #{rgb($--color-background-dark, 90%)};
  }
}
