.el-picker-panel {
  color: var(--color-text-regular);
  background-color: var(--color-background-second);
  border-color: var(--color-border-light);
  @extend %themed;
}

.el-date-range-picker__content.is-left {
  border-color: var(--color-border-light);
  @extend %themed;
}

.el-date-table th {
  color: var(--color-text-regular);
  border-color: var(--color-border-light);
  @extend %themed;
}

.el-picker-panel__icon-btn {
  color: var(--color-text-regular);
  @extend %themed;
}
