.el-select-dropdown {
  background-color: var(--color-background-second);
  border-color: var(--color-border-light);
  @extend %themed;
}

.el-select-dropdown__item {
  color: var(--color-text-regular);
  @extend %themed;

  &.selected {
    color: var(--color-primary);
  }

  &.hover,
  &:hover {
    background-color: var(--color-primary-light-9);
  }
}
