.el-table {
  color: var(--color-text-regular);
  background-color: var(--color-background-light);
  border-radius: 6px;
  @extend %themed;

  tr {
    background-color: var(--color-background-light);
    @extend %themed;
  }

  th.el-table__cell {
    background-color: var(--color-background-light);
    @extend %themed;
  }

  &.el-table--striped {
    td.el-table__cell {
      background-color: var(--color-background-light);
      @extend %themed;
    }
  }
}

/* stylelint-disable-next-line no-descending-specificity */
.el-table th.el-table__cell.is-leaf,
.el-table td.el-table__cell {
  border-color: var(--color-border-light);
  @extend %themed;
}

.el-table--striped .el-table__body tr.el-table__row--striped td.el-table__cell {
  background-color: var(--color-background-light-gray);
  @extend %themed;
}

.el-table--enable-row-hover .el-table__body tr:hover > td.el-table__cell {
  background-color: var(--color-background-light-gray);
  @extend %themed;
}

.el-table::before, .el-table--group::after, .el-table--border::after {
  background-color: var(--color-border-light);
  @extend %themed;
}
